<h2>Guide List</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Phone Number</th>
    <th>Identity</th>
    <th>Actions</th>
 </tr>
  </thead>
  <tbody>
  <tr *ngFor="let guide of guides">
    <td>{{guide.id}}</td>
    <td>{{guide.name}}</td>
    <td>{{guide.surname}}</td>
    <td>{{guide.phoneNumber}}</td>
    <td>{{guide.identity}}</td>
    <td><button (click) = "updateGuide(guide.id)" class="btn btn-info">Update</button>
    </td>
  </tr>
  </tbody>
</table>


