<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="guide" routerLinkActive="active" class="nav-link">Guide Lists</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-guide" routerLinkActive="active" class="nav-link">Add Guide</a>
    </li>
  </ul>
</nav>
<h2 class="text-center">{{title}}</h2>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @Myszczur</span>

  </div>
</footer>

